{% extends "base.html" %}

{% block main %}
    <form action="/add_post" method="post" name="add_article" class="add-a-form">
        <h2>Add new article</h2>

        <label>Article title</label><br>
        <input type="text" name="title" minlength="3" maxlength="100" placeholder="Введіть заголовок статті">
        <br>

        <label>Article title</label><br>
        <textarea name="text" required rows="15" cols="100"></textarea>
        <br>
        <label for="">Image URL</label><br>
        <input type="url"  name="URL">
        <br>

        <label>Continent</label>
        <br>

        <select name="continent"> 
            <option value="">Africa</option>
            <option value="">Asie</option>
            <option value="">Europe</option>
            <option value="">North America</option>
            <option value="">South America</option>
            <option value="">Antarctica</option>
            <option value="">Australia</option>
        </select>    
        <button type="submit">ADD ARTICLE</button>
        <button type="reset">RESET</button>
    </form>

{% endblock %}